<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - ProHealth   Mission & Vision</title>
    <link rel="stylesheet" href="/public/stylesheets/aboutus.css">
    <link rel="stylesheet" href="/public/stylesheets/missiontages.css">
</head>
<body>

    <section class="about-us">
        <div class="about-content">
            <h3>ABOUT US</h3>
            <h1>ProHealth is a team of
                <br> experienced medical<br>professionals</h1>
            <p>Dedicated to providing top-quality healthcare services. <br>We believe in a holistic approach to healthcare<br> that focuses on treating the whole person,<br> not just the illness or symptoms.</p>
        </div>
        <div class="about-image">
            <img src="/public/images/photo.jpg" alt="photo.jpg">
        </div>
    </section>

    <section class="mission-vision">
        <div class="text-content">
            <h2>Our Mission</h2>
            <p>Our mission is to provide quality healthcare services with dedication and excellence. We aim to offer 
                compassionate and patient-centered care while fostering innovation and professionalism.</p>

            <h2>Our Vision</h2>
            <p>We envision a future where healthcare is more accessible, affordable, and personalized for everyone, 
                ensuring better health outcomes.</p>
        </div>
        
        <div class="image-content">
            <img src="https://www.humanitas.net/content/uploads/2017/10/doctor-smiling-e1479990735873.jpg" alt="Doctor smiling">
            <img src="https://cbx-prod.b-cdn.net/COLOURBOX48220733.jpg?width=800&height=800&quality=70" alt="Doctors walking in hospital">
        </div>
    </section>


</body>
</html>