<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="/public/stylesheets/login.css">
</head>
<body>
    <div class="body">
        <form action="/createUser" method="post"></form>
    <div class="container">
        
        <div class="form-container">
            <div class="register-container">
                <h2>Hello, Welcome!</h2>
                <p>Don't have an account?</p>
                <button class="register-btn">Register</button>
            </div>
            <div class="login-container">
                <h2>Login</h2>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <p class="Forgot">Forgot password?</p>
                <button class="login-btn">Login</button>
                <p>or login with google</p>
                <div class="google">
                <button></button>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
</html>